/*seletor universal*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Seletor de tag*/

body{
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
    color:palevioletred;
}

#cabecalho{
    background-color: pink;
    color:white;
    text-align: center;
    padding: 25px;
}

#titulo{
    color:white;
    font-size: 2.5em;
    font-family: 'Poppins',sans-serif;
}
#nav{
    background-color: rgb(250, 158, 173);
}

.menu-item{
    display: inline-block;
    margin: 10px;
    font-size:1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(255, 255, 255);
    text-align: center;
}


.menu-item a:hover{
    color:pink;
    font-size: 1.6em;
    transition:0.5s
}
#destaque{
    text-align:center;
    font-size: 
}
.btn-pedir{
    background-color: rgb(250, 158, 173);
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
    border:none;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    
}
.btn-pedir hover{
    color: #fa8fa1;

}

.sorvete{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color:palevioletred;
    
}
.sundae{
    width: 300px;
}